@charset "UTF-8";

@font-face {
    font-family: Iran Sans Web;
    src: url(https://jobinja.ir/assets/font/IRANSans-UltraLight-web.eot);
    src: url(https://jobinja.ir/assets/font/IRANSans-UltraLight-web.eot?#iefix) format("eot"), url(https://jobinja.ir/assets/font/IRANSans-UltraLight-web.woff2) format("woff2"), url(https://jobinja.ir/assets/font/IRANSans-UltraLight-web.woff) format("woff"), url(https://jobinja.ir/assets/font/IRANSans-UltraLight-web.ttf) format("ttf");
    font-weight: 200
}

@font-face {
    font-family: Iran Sans Web;
    src: url(https://jobinja.ir/assets/font/IRANSans-Light-web.eot);
    src: url(https://jobinja.ir/assets/font/IRANSans-Light-web.eot?#iefix) format("eot"), url(https://jobinja.ir/assets/font/IRANSans-Light-web.woff2) format("woff2"), url(https://jobinja.ir/assets/font/IRANSans-Light-web.woff) format("woff"), url(https://jobinja.ir/assets/font/IRANSans-Light-web.ttf) format("ttf");
    font-weight: 300
}

@font-face {
    font-family: Iran Sans Web;
    src: url(https://jobinja.ir/assets/font/IRANSans-web.eot);
    src: url(https://jobinja.ir/assets/font/IRANSans-web.eot?#iefix) format("eot"), url(https://jobinja.ir/assets/font/IRANSans-web.woff2) format("woff2"), url(https://jobinja.ir/assets/font/IRANSans-web.woff) format("woff"), url(https://jobinja.ir/assets/font/IRANSans-web.ttf) format("ttf");
    font-weight: 400
}

@font-face {
    font-family: Iran Sans Web;
    src: url(https://jobinja.ir/assets/font/IRANSans-Medium-web.eot);
    src: url(https://jobinja.ir/assets/font/IRANSans-Medium-web.eot?#iefix) format("eot"), url(https://jobinja.ir/assets/font/IRANSans-Medium-web.woff2) format("woff2"), url(https://jobinja.ir/assets/font/IRANSans-Medium-web.woff) format("woff"), url(https://jobinja.ir/assets/font/IRANSans-Medium-web.ttf) format("ttf");
    font-weight: 500
}

@font-face {
    font-family: Iran Sans Web;
    src: url(https://jobinja.ir/assets/font/IRANSans-Bold-web.eot);
    src: url(https://jobinja.ir/assets/font/IRANSans-Bold-web.eot?#iefix) format("eot"), url(https://jobinja.ir/assets/font/IRANSans-Bold-web.woff2) format("woff2"), url(https://jobinja.ir/assets/font/IRANSans-Bold-web.woff) format("woff"), url(https://jobinja.ir/assets/font/IRANSans-Bold-web.ttf) format("ttf");
    font-weight: 700
}

@font-face {
    font-family: icons;
    src: url(/assets/font/icons.eot?ce1f9d255f78648516f2e051366693c1);
    src: url(/assets/font/icons.eot?#iefix) format("embedded-opentype"), url(/assets/font/icons.woff?ce1f9d255f78648516f2e051366693c1) format("woff"), url(/assets/font/icons.ttf?ce1f9d255f78648516f2e051366693c1) format("truetype");
    font-weight: 400;
    font-style: normal
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.6;
}

html,
body {
    font-family: Iran Sans Web;
    font-size: 14px;
    background: #e1e9ee;
    direction: rtl;
    text-align: right;
}

.leaflet-container {
    font-family: Iran Sans Web;
    font-size: 14px;

}

.leaflet-popup-content {
    margin: 0;
    direction: rtl;
    text-align: right;
}

.leaflet-popup-close-button {
    display: none;
}

#map,
body,
html {
    height: 100%;
    width: 100%;
}